<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Insert Panel</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="image">Image</label>
          <div class="col-sm-10">
             <input type="file" ngf-select ng-model="picFile" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-model-invalid="errorFile" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" ng-model="insert.name" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="shrtdescription">Short Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="shrt" ng-model="insert.shortdescription" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="description">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="5" id="description" ng-model="insert.description" required></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="status">Status</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="status" ng-model="insert.status" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
