<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="" class="title-img" alt="logo"></a>
    </div>
    <div class="col-sm-10">
      <h2 class="text-center">Design Portal</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2" for="Email">Email:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="Email" name="Email" placeholder="Enter Email" ng-model="user.email">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd">Password:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password" ng-model="user.password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label><input type="checkbox"> Remember me</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
